{% extends "base.html" %}
{% load static %}

{% block link_script %}
<link rel="stylesheet" href='{% static "blog/post-detail.css" %}' />
{% endblock %}

{% block page_title %}
{{ post.title }}
{% endblock %}

{% block content %}

{% if comment_form.errors %}
<div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> You should check in on some of those <a href="#comment-form">fields</a> below.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<section id="summary">
    <h2>{{ post.title }}</h2>
    <div>
        {% for tag in post_tags %}
        <span class="badge bg-warning text-dark">#{{ tag.caption }}</span>
        {% endfor %}
    </div>

    <div id="read-later">
        <form method="POST" action="{% url 'read-later' %}">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <input type="hidden" name="post_slug" value="{{ post.slug }}">
            <button>
                {% if is_saved_for_later %}
                Addded to Collection
                {% else %}
                Add to Collection
                {% endif %}
            </button>
        </form>
    </div>

    <article>
        <img src="{{ post.image.url }}" alt="{{ post.title }}" />
        <address>By <a href="mailto:{{ post.author.email }}">{{ post.author }}</a></address>
        <div>Last updated on <time>{{ post.date|date:"d M Y" }}</time></div>
    </article>
</section>

<main>
    {{ post.content|linebreaks }}
</main>

<section id="comments">
    <ul>
        {% for comment in comments %}
        <li>
            <h3 id="guest_name">{{ comment.guest_name }}</h3>
            <p id="date">{{ comment.date }}</p>
            <p id="guest_comment">{{ comment.comment|linebreaks }}</p>
        </li>
        {% endfor %}
    </ul>
</section>

<section id="comment-form">
    <h2>Comments</h2>
    <form method="POST" , action="{{post.get_absolute_url}}">
        {% csrf_token %}
        {% for field in comment_form %}
        <div class="form-control {% if field.errors %}invalid{% endif %}">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <button>Post</button>
    </form>
</section>
{% endblock %}